body{
    background-image: url(https://images.pexels.com/photos/1020315/pexels-photo-1020315.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500);

}

#losses{
    font-size: 40px;

}
#wins{
    font-size: 40px;
}
#totalSum{
    font-size: 40px;
    color: antiquewhite;
}
#randomNumber{
    font-size: 40px;
    color: antiquewhite;
}

.wrapper{
    margin-left: 3%;
}

#instructions{
    background-color: blueviolet;
}
